<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EPISOUND - Bienvenida</title>
  <link rel="stylesheet" href="{% static 'src/tailwind.css' %}">
</head>
<body class="bg-primary w-full h-full flex items-center justify-center">

  <div class="bg-card p-6 flex flex-col items-center justify-center space-y-4 rounded-md shadow-lg w-1/2">
    <h2 class="text-4xl font-bold mb-4">Bienvenido a EpiSound</h2>
    <p class="mb-4">Alta gama de canciones</p>
    <form method="POST" action="{% url 'index' %}" class="flex flex-col items-center justify-center">
      {% csrf_token %}
      <label class="py-4">Indique el número de canciones: </label>
      <input name="numero_canciones" class="text-black p-3 rounded-md text-center my-2" type="number">
      <button type="submit" class="bg-primary px-4 py-2 rounded-md">Empezar</button>
    </form>
  </div>

  <script>
    // Aquí puedes agregar scripts si es necesario
  </script>
</body>
</html>