{% extends 'index.html' %}
{% block content %}
  <div class="w-full p-4 flex justify-center items-center flex-col">
    <div class="flex p-4">
      <nav class="w-full flex flex-row gap-x-64 py-2 border-b-2 border-b-white px-20 font-bold">
        <button> Popularidad </button>
        <button> Año </button>
        <button> Tiempo de Duracion </button>
      </nav>
    </div>
    <div class="my-4">
      <nav class="w-full flex flex-row gap-x-12 px-4 font-bold">
        <button> Ascendente </button>
        <button> Descendente </button>
      </nav>
    </div>
    <div class="max-w-3xl my-8 w-full flex items-center justify-center flex-col">
      <!-- Agregar un contenedor con desplazamiento basado en la altura de 5 divs -->
      <div class="max-w-3xl w-full overflow-y-auto space-y-4" style="height: calc(5 * 6rem + 5 * 1rem);">
        {% for cancion in canciones %}
        <div class="flex items-center justify-between w-full border-2 border-white p-4 bg-black text-white">
          <div class="flex items-center space-x-4">
            <div class="min-w-12 min-h-12 w-12 h-12 bg-white flex items-center justify-center text-white text-xl">
              🎵
            </div>
            <div class="flex flex-col">
              <span class="font-bold text-white">{{ cancion.track_name }}</span>
              <span class="text-gray-400">{{ cancion.artist_name }}</span>
            </div>
          </div>
          <div class="flex items-center space-x-4">
            <span class="font-bold text-white">{{ cancion.track_duration_ms }}</span>
            <span class="font-bold text-white">{{ cancion.id |add:1 }}</span>
          </div>
        </div>
        {% endfor %}
      </div>
      <button id="abrirVentana" class="absolute right-0 mx-32 top-1/2 transform -translate-y-1/2 bg-fuchsia-800 px-4 py-2 rounded-md">
        Abrir
      </button>
    </div>
  </div>

  <div id="emergente" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white p-8 rounded-md max-w-4xl w-full">
      <h2 class="text-xl font-bold mb-4">Título del Modal</h2>
      <p class="mb-4">Contenido del modal va aquí...</p>
      <button id="cerrarVentana" class="bg-red-500 text-white px-4 py-2 rounded-md">
        Cerrar
      </button>
    </div>
  </div>
  
  <script>
    document.getElementById('abrirVentana').addEventListener('click', function() {
      document.getElementById('emergente').classList.remove('hidden');
    });
  
    document.getElementById('cerrarVentana').addEventListener('click', function() {
      document.getElementById('emergente').classList.add('hidden');
    });
  </script>  
{% endblock content %}
