{% extends 'index.html' %}
{% block content %}
  <div class="w-full p-4 flex justify-center items-center flex-col">
    <div class="flex p-4">
      <nav class="w-full flex flex-row gap-x-64 py-2 border-b-2 border-b-white px-20 font-bold">
        <button> Popularidad </button>
        <button> Año </button>
        <button> Tiempo de Duracion </button>
      </nav>
    </div>
    <div class="my-4">
      <nav class="w-full flex flex-row gap-x-12 px-4 font-bold">
        <button> Ascendente </button>
        <button> Descendente </button>
      </nav>
    </div>
    <div class="max-w-3xl my-8 w-full flex items-center justify-center flex-col">
      <!-- Agregar un contenedor con desplazamiento basado en la altura de 5 divs -->
      <div class="max-w-3xl w-full overflow-y-auto space-y-4" style="height: calc(5 * 6rem + 5 * 1rem);">
        {% for cancion in canciones %}
        <div class="max-w-2xl w-full border-2 border-red-400 m-4 p-6 font-bold">
          <p> {{cancion.artist_name}} </p>
        </div>
        {% endfor %}
      </div>
      <button id="abrirVentana" class="absolute right-0 mx-32 top-1/2 transform -translate-y-1/2 bg-fuchsia-800 px-4 py-2 rounded-md">
        Abrir
      </button>
    </div>
  </div>

  <div id="emergente" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white p-8 rounded-md max-w-4xl w-full">
      <h2 class="text-xl font-bold mb-4">Título del Modal</h2>
      <p class="mb-4">Contenido del modal va aquí...</p>
      <button id="cerrarVentana" class="bg-red-500 text-white px-4 py-2 rounded-md">
        Cerrar
      </button>
    </div>
  </div>
  
  <script>
    document.getElementById('abrirVentana').addEventListener('click', function() {
      document.getElementById('emergente').classList.remove('hidden');
    });
  
    document.getElementById('cerrarVentana').addEventListener('click', function() {
      document.getElementById('emergente').classList.add('hidden');
    });
  </script>  
{% endblock content %}
