{% extends 'index.html' %}
{% block content %}
<div class="w-full p-4 flex justify-center items-center flex-col">
  <div class="flex p-4 max-w-3xl items-start">
    <nav class="w-full flex flex-row gap-x-64 py-2 border-b-2 border-b-white px-7 font-bold">
      <h1>Canciones</h1>
    </nav>
  </div>
  <div class="max-w-3xl my-8 w-full flex items-center justify-center flex-col">
    <div class="max-w-3xl w-full overflow-y-auto space-y-4 mx-40 py-4 flex flex-col" style="height: calc(5 * 6rem + 5 * 1rem);">
      {% for cancion in canciones %}
      <form method="POST" action="{% url 'guardar_id' %}" class="flex flex-row">
        {% csrf_token %}
        <input type="hidden" name="cancion_id" value="{{ cancion.id }}">
        <div class="flex items-center justify-between w-full border-2 border-white p-4 bg-black text-white">
          <div class="flex items-center space-x-4">
            <div class="min-w-12 min-h-12 w-12 h-12 bg-white flex items-center justify-center text-white text-xl">
              🎵
            </div>
            <div class="flex flex-col">
              <span class="font-bold text-white">{{ cancion.track_name }}</span>
              <span class="text-gray-400">{{ cancion.artist_name }}</span>
            </div>
          </div>
          <div class="flex items-center space-x-4">
            <span id="duration-{{ forloop.counter }}" class="font-bold text-white">{{ cancion.track_duration_ms }}</span>
            <span class="font-bold text-white">{{ cancion.id |add:1 }}</span>
          </div>
        </div>
        <button type="submit" class="flex m-5 text-4xl text-center hover:text-primary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="hover:text-fuchsia-800 size-8">
            <path strokeLinecap="round" strokeLinejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>          
        </button>
      </form>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Formatear la duración de la canción actual
    const currentDurationElement = document.getElementById('info');
    if (currentDurationElement) {
      formatDuration(currentDurationElement);
    }

    // Formatear la duración de todas las canciones en la lista
    {% for cancion in canciones %}
      const durationElement{{ forloop.counter }} = document.getElementById('duration-{{ forloop.counter }}');
      if (durationElement{{ forloop.counter }}) {
        formatDuration(durationElement{{ forloop.counter }});
      }
    {% endfor %}
  
  });
  
  function formatDuration(element) {
    const ms = parseInt(element.textContent.match(/\d+/)[0], 10);

    const minutes = Math.floor(ms / 60000);
    const seconds = Math.floor((ms % 60000) / 1000);

    const formattedDuration = `${minutes}:${seconds.toString().padStart(2, '0')}`;

    element.textContent = `${formattedDuration}`;
  }
</script>
{% endblock content %}